[submodule "TikMatrix-Admin"]
	path = TikMatrix-Admin
	url = https://github.com/tikmatrix/TikMatrix-Admin.git
[submodule "tiktok-agent"]
	path = tiktok-agent
	url = https://github.com/tikmatrix/tiktok-agent.git
[submodule "tiktok-server"]
	path = tiktok-server
	url = https://github.com/tikmatrix/tiktok-server.git
[submodule "scrcpy-agent"]
	path = scrcpy-agent
	url = https://github.com/tikmatrix/scrcpy-agent.git