/* ./src/index.css */
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: flex;
    width: 100%;
  }
}



/* add the code bellow */
@utility no-scrollbar {

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}



/* 在全局 CSS 或 App.vue 的 style 中添加 */
dialog.modal {
  top: 48px !important;
  /* Titlebar 高度 */
  height: calc(100vh - 48px) !important;
  max-height: calc(100vh - 48px) !important;
}

dialog.modal::backdrop {
  top: 48px !important;
  height: calc(100vh - 48px) !important;
}